
body{
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: rgb(60, 61, 61);
   color:#fff;
}

.borde-superior{
    height: 10px;
border-top-left-radius: 1000%;
border-top-right-radius: 1000%;
}

.borde-inferior{
    height: 10px;
    border-bottom-left-radius: 1000%;
    border-bottom-right-radius: 1000%;
}
h2{
  color: #90af56;
}

header{
    background: rgb(40, 151, 95);
    width: 100%;
    position: fixed;
    z-index: 100;

}



nav{
    float:left    
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-family: Arial, sans-serif;
    font-smooth: 16px;
}
nav ul li a{
    display: block;
    padding: 10px;
    color: #90af56;

    text-decoration: none;    
}
nav ul li:hover{
    background-color: rgb(60, 61, 61);
    border-radius: 50%;
}

.encabezado{
    color: #90af56;
    background: rgba(40, 151, 96, 0.575);
    align-items: center;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    border-end-start-radius: 70%;
    border-bottom-right-radius: 70%;
    margin:0;
}

.encabezado h2{
}

.descripcion{
    color: #fff;
    width: 100%;
    justify-content: center;
}

main{
    position: block;
padding: 5%;
display: block;
}

main hr{
margin:0px;
height: 5px;
border-style: none;
background-color: #90af56;
}

.hitos{
margin:0;
    display: flex;
flex-direction: column;
justify-content: space-around;
justify-content: center;
background-color: rgba(40, 151, 96, 0.575); 

}

.hitos h2{
    margin: 10px;
}
.hitos details summary{
margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
color: rgb(60, 61, 61);
/* Organizar contenido  */    
}

.hitos details p{
     margin: 20px;
}

.hitos details img{
    margin: 20px;
}

.hitos details hr{
    background-color: rgb(70, 48, 16);    
    height: 10px;
    border-style: none;
    margin-left: 10px ;
    margin-right: 10px ;
    border-radius: 1000%;
}

.hitos .borde-superior-h{
    background-color: rgb(255, 255, 255);    
    height: 1px;
    border-style: none;
    margin-left: 10px ;
    margin-right: 10px ;
    border-bottom-right-radius: 1000%;
    border-bottom-left-radius: 1000%;
    border-top-right-radius: 1000%;
    
}
.hitos .borde-inferior-h{
    background-color: rgb(70, 48, 16);    
    height: 10px;
    border-style: none;
    margin-left: 10px ;
    margin-right: 10px ;
    margin-bottom: 10px;
    border-radius: 1000%;
}
    
/*

.menu{
    background: rgba(40, 151, 96, 0.575); 
    width: 100%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: right;       
    border-radius: 75%;
}

.menu button{
    border-radius: 15%;
    background-color: rgb(60, 61, 61);
    color: #90af56;
    width: 20vh;
    height: 10vh;
    font-size: 2vh;
}
*/